#footer {
    padding: 55px 20px;
    width: 100%;
    word-break: keep-all;
    color: #aaa;
    background: #474747;
    padding: 0;
    letter-spacing: -0.03em !important;
}

#footer {
    margin-top: 160px;
    border-top: 1px solid #efefef;
}

#ivStyle * {
    letter-spacing: 0px;
}

#footer > .inner {
    max-width: 1050px;
    margin: 0 auto;
}

#footer .cs_center {
    font-size: 0;
    padding: 20px 35px 20px 25px;
}

#footer .cs_center > div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

#footer .cs_center span {
    display: inline-block;
    width: auto;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

#footer .cs_center span a {
    color: #fff;
}

#footer .cs_center .top-right {
    text-align: right;
}

#footer .cs_center > div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

#footer .cs_center .top-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
}

#footer .cs_center .top-right a + a {
    margin-left: 15px;
}

#footer .footer_menu .list {
    padding: 0 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #808080;
}

#footer .footer_menu .list span {
    position: relative;
    display: block;
    padding: 27px 0;
    line-height: 1;
    font-weight: 400;
}

#footer .footer_menu .list .arr {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #c7c7c7;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

#footer .footer_menu .list .arr i {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .5s;
    transition: all .5s;
    background-image: url(/web/upload/common/mobile/arrow_right_gray.png);
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: center;
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
}

#footer .footer_menu .list .sub {
    display: none;
    margin: 0 auto;
}

#footer .footer_menu .list .sub li:first-child {
    padding-top: 3px;
}

#footer .footer_menu .list .sub li {
    padding-top: 20px;
    color: #777;
}

#footer .footer_menu .list .sub li a {
    color: #aaa;
}

#footer .ft_sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 18px;
}

#footer .ft_sns a.insta_icon {
    background-image: url(/web/upload/common/mobile/insta_icon2.png);
    background-size: 17px;
}

#footer .ft_sns a {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, .1);
    vertical-align: middle;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: container;
    background-position: center;
}

#footer .ft_sns a.facebook_icon {
    background-image: url(/web/upload/common/mobile/facebook_icon2.png);
    background-size: 10px auto;
}

#footer .ft_sns a.kakao_icon {
    background-image: url(/web/upload/common/mobile/kakao_icon2.png);
    background-size: 18px auto;
}

#footer .ft_sns a.youtube_icon {
    background-image: url(/web/upload/common/mobile/youtube_icon2.png);
    background-size: 16px auto;
}

#footer .ft_sns a.naver_icon {
    background-image: url(/web/upload/common/mobile/naver_icon2.png);
    background-size: 13px auto;
}

#footer .company {
    padding: 0 25px;
    margin: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    word-break: break-word;
}

#footer .company li {
    display: block;
    margin-right: 12px;
    font-size: 14px;
    color: #aaa;
    word-break: keep-all;
    margin-right: 0;
    letter-spacing: 0.3px;
    line-height: 28px;
}

#footer .company li span {
    display: inline-block;
    font-size: 13px;
    color: #aaa;
    vertical-align: top;
}

#footer .company span {
    font-size: 14px;
    color: #aaa;
}

#footer .company span:after {
    display: inline-block;
    content: '';
    background-color: #636262;
    width: 1px;
    height: 14px;
    margin: 0 10px;
    vertical-align: middle;
}

#footer .info_area {
    padding: 0 25px 15px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0;
    text-align: center;
    line-height: 1;
}

#footer .info_area a:first-child {
    padding-left: 0;
}

#footer .info_area a {
    display: table-cell;
    padding: 20px 60px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}

#footer > div.inner > div.info_area > a:nth-child(3){
    color: #fffec7;
}
